@import '../../../../scss/main';

.button-panel {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $section-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    margin-right: $grid-size * 2;

    @media screen and (max-width: $break-grid) {
      margin-bottom: $grid-size;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}
