@import '../../../../scss/main';

.section {
  background-color: rgba(255, 255, 255, .2);
  margin-bottom: $section-margin-bottom;

  @media screen and (max-width: $break-grid) {
    margin-bottom: $section-margin-bottom-mobile;
  }

  .column-container {
    .column {
      @media screen and (max-width: $break-grid) {
        margin-bottom: 20px !important;
        margin-right: 0 !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      .module {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .col-1 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(12, 4);
    }
  }

  .col-2 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(6, 4);
    }
  }

  .col-3 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(4, 4);
    }
  }

  .col-4 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(3, 4);
    }
  }
}
