@import '../../../../scss/main';

.hero {
  font-size: 0;
  height: 100vh;
  margin-bottom: $section-margin-bottom;

  @media screen and (max-width: $break-grid) {
    height: 60vh;
    margin-bottom: $section-margin-bottom-mobile;
  }

  picture {
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}