@import '../../../../scss/main';

.hero {
  margin-bottom: $section-margin-bottom;

  picture {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}