@import '../../../../scss/main';

.image-module {
  font-size: 0;

  picture {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
