@import '../../../../scss/main';

.participants {
  @include space-horizontal($col-gutter);
  display: flex;
  flex-wrap: nowrap;

  @media screen and (max-width: $break-grid) {
    flex-wrap: wrap;
  }

  .participants-list {
    @include col(8, 4);
    @include space-horizontal($col-gutter);

    @media screen and (max-width: $break-grid) {
      margin-bottom: $section-margin-bottom-mobile;
      margin-right: 0 !important;
    }

    .wysiwyg-module {
      margin-bottom: $section-margin-bottom;
      width: 100%;

      @media screen and (max-width: $break-grid) {
        margin-bottom: $section-margin-bottom-mobile;
      }
    }

    .list {
      .list-row {
        display: flex;
        flex-wrap: nowrap;

        &:nth-child(even) {
          background-color: rgba(0, 0, 0, .1);
        }

        span {
          @include typo-small;
          margin-bottom: 0;
          padding-bottom: 4px;
          padding-left: $grid-size;
          padding-top: 4px;

          &:first-child {
            width: 5%;
          }

          &:nth-child(2) {
            width: 60%;

            @media screen and (max-width: $break-grid) {
              width: 95%;
            }
          }

          &:nth-child(3) {
            width: 30%;

            @media screen and (max-width: $break-grid) {
              display: none;
            }
          }
        }
      }
    }
  }

  .registration-info {
    @include col(4, 4);

    .registration-form {
      @include typo-small;
      margin-top: $section-margin-bottom;

      span {
        display: block;
        margin-bottom: $grid-size;
      }

      input {
        margin-bottom: $grid-size * 2;
        padding: $grid-size;
        width: 100%;
      }

      a {
        button {
          margin-bottom: $grid-size * 2;
          margin-top: $grid-size * 2;
          width: 100%;
        }
        /* border: 1px solid #000;
        color: #000;
        display: block;

        padding: $grid-size * 1.25;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &:hover {
          background-color: rgba(0, 0, 0, .2);
          border-color: #fff;
        }
      */}
    }

    .error-message {
      color: #f00;
    }

    .success-message {
      color: #080;
    }
  }
}

