@import '../../../../scss/main';

.timetable {
  .inner {
    @include space-horizontal($col-gutter);
    background-color: rgba(255, 255, 255, .25);
    display: flex;
    flex-wrap: nowrap;
    padding: $grid-size * 2;

    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }
  }

  .day {
    flex: 1;

    @media screen and (max-width: $break-grid) {
      flex-basis: 100%;
      margin-bottom: $section-margin-bottom-mobile;
      margin-right: 0 !important;
    }

    .title {
      @include typo-small;
    }

    .entry-row {
      @include typo-small;
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: $grid-size;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, .1);
      }

      .time {
        width: 20%;

        @media screen and (max-width: $break-grid) {
          width: 15%;
        }
      }

      .text {
        width: 90%;
      }
    }
  }
}
