@import '../../../../scss/main';

.video-module {
  figure {
    .video-aspect-container {
      height: 0;
      margin-bottom: $grid-size * 2;
      padding-bottom: 56.25%;
      position: relative;
      width: 100%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  figcaption {
    @include typo-small;
    padding-bottom: $grid-size * 2;
    padding-left: $grid-size * 2;
    padding-right: $grid-size * 2;
  }
}
